<div class="flex flex-col items-center w-full mt-12">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field w-full">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" , class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>

  <div class="actions flex justify-center border border-gray-400 text-gray-400 font-semibold py-2 px-4 rounded hover:bg-gray-200 focus:outline-none focus:shadow-outline mt-4">
    <%= f.submit "Log in" %>
  </div>
<%= render "devise/shared/links" %>
<% end %>
</div>